# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build output
dist/
build/

# IDE/Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
.antigravity-ide/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
